# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
backend/.venv/
.python-version
*.egg-info/

# FastAPI/UVicorn
*.sqlite3

# Logs
*.log
logs/
backend/logs/

# Test coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.pytest_cache/

# Node/React/Vite
node_modules/
dist/

# Env
.env
.env.*.local

# OS
.DS_Store
Thumbs.db
